.home_banner_container {
  background-image: url("https://i.ibb.co.com/FqnBJRzt/banner-Background.png");
  background-repeat: no-repeat;
}
.banner_title {
  font-family: "Berkshire Swash", cursive;
}
